DEBUG=True
SECRET_KEY="django-insecure-8cc=086m9=b_#f5d$k$omn(@p9=*u(=6vgu97sh9wr8(l9!)+i"
DATABASE_URL="sqlite:///db.sqlite3"
ALLOWED_HOSTS=
TIME_ZONE='Europe/Berlin'
LANGUAGE_CODE=de
STATIC_ROOT='static/'
STATIC_URL='static/'
MEDIA_ROOT='media/'
MEDIA_URL='media/'
CELERY_BROKER_URL='redis://localhost'
LOGGING_LEVEL=INFO
LOGGING_FILE=archive.log