{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}

{% block content %}
    <h2>{{ record }}</h2>

    <div class="row mb-3">
        {% if record.recordfile_set.all %}
            <div class="col-md-9">
                <div class="record-media mb-3">
                    {% with file=record.recordfile_set.first %}
                        {% if file.is_previewable %}
                            {% if file.is_image %}
                                <img alt="{{ file }}" class="record-image"
                                     src="{{ MEDIA_URL }}{{ file.preview.name }}">
                            {% elif file.is_pdf %}
                                <iframe
                                        src="{{ MEDIA_URL }}{{ file.file.name }}"
                                        width="100%"
                                        height="678"></iframe>
                            {% elif file.is_wacz %}
                                <div class="replay-embed">
                                    <replay-web-page replayBase="/static/js/"
                                                     source="{{ MEDIA_URL }}{{ file.file.name }}"></replay-web-page>
                                </div>
                            {% elif file.is_video %}
                                <video controls width="100%">
                                    <source src="{{ MEDIA_URL }}{{ file.preview.name }}" type="video/mp4">
                                </video>
                            {% endif %}
                        {% else %}
                            <p>No preview available</p>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="record-media-list">
                    <ul class="list-group">
                        {% for file in record.recordfile_set.all %}

                            <li class="file-list-item list-group-item {% if forloop.counter == 1 %}active{% endif %}"
                                data-content-type="{{ file.content_type }}"
                                    {% if file.is_previewable %}
                                        {% if file.preview %}
                                data-url="{{ MEDIA_URL }}{{ file.preview.name }}"
                                        {% else %}
                                data-url="{{ MEDIA_URL }}{{ file.file.name }}"
                                        {% endif %}
                                    {% endif %}
                                onclick="fileSelected(this)"
                                {% if forloop.counter == 1 %}aria-current="true"{% endif %}>
                                {{ file }}
                                <span class="btn-group float-end">
                                    <a href="{{ MEDIA_URL }}{{ file.file.name }}"
                                       class="btn btn-success">
                                        {% translate "Download original" %}
                                    </a>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'record-files-delete' collection_id=record.collection.id record_id=record.id pk=file.id %}"
                                           class="btn btn-danger">{% translate "Delete" %}</a>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="col-md-3">
            {% if record.description %}
                <p>{{ record.description }}</p>
            {% endif %}
            <p><span>{% translate 'Category' %}:</span> {{ record.category }}</p>
            <p><span>{% translate 'Collection' %}:</span> <a
                    href="{% url 'collection-detail' pk=record.collection.id %}">{{ record.collection }}</a></p>
            {% if record.physical_location %}
                <p><span>{% translate 'Physical Location' %}:</span> {{ record.physical_location }}</p>
            {% endif %}
            {% if record.physical_signature %}
                <p><span>{% translate 'Physical Signature' %}:</span> {{ record.physical_signature }}</p>
            {% endif %}
            <p><span>{% translate 'Created at' %}:</span> {{ record.created_at }}</p>
            <p><span>{% translate 'Updated at' %}:</span> {{ record.updated_at }}</p>
            <p><span>{% translate 'Owner' %}:</span> {{ record.owner }}</p>
            {% if record.origin_date %}
                <p><span>{% translate 'Date of origin' %}:</span> {{ record.origin_date }}</p>
            {% endif %}
            {% if record.tags.exists %}
                <div class="tags">
                    {% for tag in record.tags.all %}
                        <span>{{ tag }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


    <div class="btn-group mb-3">
        {% if perms.archive.change_record %}
            <a href="{% url 'record-update' collection_id=record.collection.id pk=record.id %}" class="btn btn-primary">
                {% translate 'Edit Record' %}
            </a>
        {% endif %}
        {% if perms.archive.delete_record %}
            <a href="{% url 'record-delete' collection_id=record.collection.id pk=record.id %}" class="btn btn-danger">
                {% translate 'Delete Record' %}
            </a>
        {% endif %}
    </div>

    {% if perms.archive.add_record_file %}
        <form method="post" action="{% url 'record-files-add' collection_id=record.collection.id record_id=record.id %}"
              enctype="multipart/form-data"
              class="mb-3">
            <h4>{% translate 'Upload file' %}</h4>
            {% csrf_token %}
            <div class="mb-3">
                <label for="inputFile">{% translate 'File' %}</label>
                <input type="file" class="form-control" id="inputFile" name="{{ file_form.file.name }}"
                       value="{{ file_form.file.value }}">
            </div>

            <button type="submit" class="btn btn-primary">{% translate 'Upload' %}</button>
        </form>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'record-add-tag' collection_id=record.collection.id pk=record.pk %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="inputTag" class="form-label">{% translate 'Tag' %}</label>
                <input type="text" name="tag" class="form-control" id="inputTag">
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block additional-css %}
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/record.js' %}"></script>
    <script src="{% static 'js/ui.js' %}"></script>
{% endblock %}